@model YouriPortfolio.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Project";
}
<br />
<div class="col-md-12 LGProjectBlock">
    <div class="ProjectImage">
        <img src="@Model.Project.HeaderIMG" alt="Project Image" />
    </div>
    <div class="ProjectTextBlock">
        <h2>@Html.Raw(Model.Project.Title)</h2>

        <h4>@Html.Raw(Model.Project.ShortContent)</h4>

        <p>@Html.Raw(Model.Project.ContentText)</p>
    </div>

</div>