@using YouriPortfolio.Models
@model YouriPortfolio.Models.ViewModels.ProjectListViewModel
@{
    ViewBag.Title = "Projects";
}
<div class="row">
    <h2>Projects</h2>
    @foreach (Content content in Model.ContentList)
    {
        <div class="col-lg-3 col-sm-4 col-xs-6 col-xxs-12 ZoomBlock">
            <div class="">
                <div class="ProjectBlock noLink" onclick="window.location = '/Projects/Get/@content.ID';">
                    <div class="ProjectImage">
                        <img src="@content.HeaderIMG" alt="Project Image"/>
                    </div>
                        <div class="ProjectTextBlock">
                            <h2 class="ProjectTitle">
                                @Html.Raw(content.Title)
                            </h2>
                            <p>@Html.Raw(content.ShortContent)</p>
                        </div>
                    </div>
            </div>
        </div>
    }
</div>
